<footer class="footer">
  <mat-toolbar>
    <div class="container">
      <div class="footer-entry">
        &lt;<span class="red-letter">R</span>ESOURC<span class="red-letter"
          >ING</span
        >
        &gt;&trade;
        <span class="small-text"
          >brought to you by the best Team...and Eugene</span
        >
      </div>
      <button mat-button class="footer-entry">About Us</button>
      <button mat-button class="footer-entry">Contact Us</button>
    </div>
  </mat-toolbar>
</footer>
