<mat-card class="card">
  <div class="vote">
    <button mat-raised-button>
      <i class="material-icons">keyboard_arrow_up</i>
      <div class="votes">107</div>
    </button>
  </div>
  <div>
    <mat-card-header class="tutorial-desc">
      <mat-card-title>
        tutorial short description
        <span class="source-url">(original.source)</span>
      </mat-card-title>
    </mat-card-header>
    <mat-card-actions class="actions-bar">
      <span class="bookmark">
        <button mat-button>
          <i class="material-icons">bookmark</i> Bookmark
        </button>
      </span>
      <span class="submitter"
        >Submitted by<button class="clickable btn">
          theUserName
        </button></span
      >
      <span class="views-count">39.6k+ views</span>
      <span class="comments-count"
        ><button class="clickable btn">6 Comments</button></span
      >
      <span>
        <button class="tag" mat-button>tag</button>
        <button class="tag" mat-button>tag</button>
        <button class="tag" mat-button>tag</button>
        <button class="tag" mat-button>tag</button>
        <button class="tag" mat-button>tag</button>
        <button class="tag" mat-button>tag</button>
      </span>
    </mat-card-actions>
  </div>
</mat-card>
