.topic-thumbnail {
  margin-right: 15px;
  height: 40px;
  width: 40px;
  overflow: hidden;
}
.page-title {
  margin-top: 2em;
  text-align: center;
  font: bold;
  color: royalblue;
}
.title-text {
  vertical-align: super;
  font-size: x-large;
}

.tutorials-container {
  display: inline-block;
  margin-left: 2em;
  margin-top: 3em;
}
.tutorial-card {
  margin-top: 1em;
}
.filter-container {
  margin-left: 2em;
  margin-top: 3em;
  width: 20em;
  height: 30em;
  float: left;
  background-color: #f4f7fb;
  border: #4586dd 1px solid;
  border-radius: 5%;
  color: mediumvioletred;
}

.filter-header {
  font-size: large;
  font-weight: 500;
  margin-bottom: 1em;
  margin-top: 1em;
}

.bottom-border {
  padding-bottom: 1em;
  border-bottom: 1px solid;
  width: 12em;
}
.filter-fields {
  margin-top: 1em;
  margin-left: 2em;
}
.checkbox-aria {
  display: flex;
  flex-direction: column;
  font-size: larger;
}
