<mat-toolbar color="primary" class="menu">
  <div class="container">
    <mat-toolbar-row>
      <!-- <button mat-icon-button (click)="toggleSideBar()"> -->
      <button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>

      <button
        mat-button
        [routerLink]="['/home']"
        class="menu-entry logo"
        routerLinkActive="mat-accent"
      >
        <img src="\assets\logo.png" />
      </button>

      <div fxFlex fxLayout="row" fxLayoutAlign="flex-start">
        <ul fxLayout="row" fxLayoutGap="35px">
          <li>
            <button
              mat-button
              routerLink="/programming"
              class="menu-entry"
              routerLinkActive="mat-accent"
            >
              Programming
            </button>
          </li>
          <li>
            <button
              mat-button
              routerLink="/devOps"
              class="menu-entry"
              routerLinkActive="mat-accent"
            >
              DevOps
            </button>
          </li>
          <li>
            <button
              mat-button
              routerLink="/design"
              class="menu-entry"
              routerLinkActive="mat-accent"
            >
              Design
            </button>
          </li>
        </ul>
      </div>
      <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
        <ul fxLayout="row" fxLayoutGap="15px">
          <li>
            <button
              mat-button
              routerLink="/LeaderBoard"
              class="menu-entry"
              routerLinkActive="mat-accent"
            >
              Leader Board
            </button>
          </li>
          <li>
            <button
              mat-button
              routerLink="/admin"
              class="menu-entry"
              routerLinkActive="mat-accent"
            >
              Admin Page
            </button>
          </li>
        </ul>
        <ul fxLayout="row" fxLayoutGap="25px">
          <li>
            <button mat-button class="menu-entry" (click)="openDialog()">
              Add New Tutorial
              <i class="material-icons icon">library_add</i>
            </button>
          </li>
        </ul>
      </div>
    </mat-toolbar-row>
  </div>
</mat-toolbar>
